<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servo App</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" href="/style.css">
    <script type="module" src="/client.js"></script>
</head>
<body>
    <div class="grid-wrapper">
        <nav class="navigation">
            <div class="spotlight">
                <h4>Spotlight</h4>
                <h4><a href="" id="refresh-link">refresh</a></h4>
               <a href="", id="station-link"></a>
                <div id="station-address"></div>
            </div>


            <div class="stats">
                <h4>Stats</h4>
                <h6>total stations: <%= data.total_stations %></h6>
                <h6>total owners: <%= data.total_owners %></h6>
                <% for (let i = 0; i < 7; i++) { %> 
                    <div class="flex-wrapper">
                        <div class="servo-name"><%= data.owners[i].owner %></div>
                        <div class="servo-total"><%= data.owners[i].total %></div>
                    </div>
                
                <% } %>
            </div>
            

            <div class="weather-widget">
                <p><span class="weather-location"></span></p>
                <p><span class="weather-desc"></span></p>
                <p><span class="weather-temp"></span>°C</p>
                <p><span class="weather-rain"></span>%</p>
                <p><span class="weather-humidity"></span>%</p>
                <p><span class="weather-wind"></span> km/h</p>
            </div>
            

            <div class="about">
                <h3>About</h3>
                <h4>The Three Musketeers</h4>
                <p class="github">David <img src="" alt="" class="github-img"><a href="https://github.com/dpockyyy" >https://github.com/dpockyyy</a></p>
                <p class="github">Casey <img src="" alt="" class="github-img"><a href="https://github.com/CaseyCheese" >https://github.com/CaseyCheese</a></p>
                <p class="github">Nikki <img src="" alt="" class="github-img"><a href="https://github.com/NWProjects" >https://github.com/NWProjects</a></p>
                <footer>&copy; 2024</footer>
            </div>
        </nav>

        <main class="google-map">
            <div id="map"></div>
        </main>

        <aside class="directions">
            <div id="clock">
                <h4 id="date-time"></h4>
            </div>

            <div class="center-location">
                <h4>Map Center Location</h4>
                <p>lat: <span class="map-ctr-lat"></span></p>
                <p>lng: <span class="map-ctr-lng"></span></p>
            </div>

            <div class="nearest">
                <h3>nearest</h3>
                <input type="checkbox" onclick="handleCheckboxMeasurementToggle()" id="measurement-toggle">
                <label for="">Show distances in km</label>
                <hr> <!-- take out <hr> and replace with CSS -->
                <!-- <5 for (let station of stations) { %>
                    <div id="servo-station">
                        <div id="servo-name"><5= station.name %> </div><strong><div id="servo-distance"><5= Math.round(station.distance * 111.1 * 1000) %></div><span id="servo-measurement">m</span></strong>
                        <div id="servo-address"><5= station.address %></div> -->
                        <hr> <!-- take out <hr> and replace with CSS -->
                    </div>
                <!-- <5 } %> -->
                <div id="servo-station">
                    <div id="servo-name"></div>
                    <div id="servo-distance"></div><span id="servo-measurement"></span>
                    <div id="servo-address"></div>
                </div>

                <div id="servo-station">
                    <div id="servo-name"></div>
                    <div id="servo-distance"></div><span id="servo-measurement"></span>
                    <div id="servo-address"></div>
                </div>

                <div id="servo-station">
                    <div id="servo-name"></div>
                    <div id="servo-distance"></div><span id="servo-measurement"></span>
                    <div id="servo-address"></div>
                </div>

                <div id="servo-station">
                    <div id="servo-name"></div>
                    <div id="servo-distance"></div><span id="servo-measurement"></span>
                    <div id="servo-address"></div>
                </div>

                <div id="servo-station">
                    <div id="servo-name"></div>
                    <div id="servo-distance"></div><span id="servo-measurement"></span>
                    <div id="servo-address"></div>
                </div>
            </div>

        </aside>
        <div class="new-servo-form">
            "THIS IS A TEST FORM"
        </div>
    </div>



    <script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
        ({key: "<%= MAPS_KEY %>", v: "weekly"});</script>
    <script src="/client.js"></script>
</body>
</html>